
App\.config

bin/Debug/

obj/x86/Debug/

packages/

Pokemon Go Threaded Trainer\.csproj

Pokemon Go Threaded Trainer\.csproj\.user

Pokemon Go Threaded Trainer\.sln

Properties/

\.vs/



packages\.config

PokemonGo\.RocketAPI
